{{ define "main" }}
<div class="hero">
    <div class="hero-logo-container">
        <img src="/images/logo.svg" alt="Strength Edge Tech Logo" class="hero-logo">
    </div>
    <p class="tagline">{{ .Site.Params.description }}</p>
</div>
<section class="features">
    <div class="container">
        <h2>Our Solution</h2>
        <div class="feature-grid">
            <div class="feature-item">
                <h3>Automated S&C Tracking</h3>
                <p>The SET-vision system (coming soon) automates barbell-based strength and conditioning training. 
                    Enabling coaches with more time to focus on their athletes instead of data management.</p>
            </div>
            <div class="feature-item">
                <h3>Long-Term Performance Analysis</h3>
                <p>Our system helps overview progression both during training and throughout extended training blocks. 
                    With extended use SET-vision aims to help forecast performance changes and optimize training based
                     on metrics extracted directly from athlete performance during training.</p>
            </div>
            <div class="feature-item">
                <h3>Flexible system design</h3>
                <p>At Strength Edge Tech, we aim to personalise the application of the SET-vision system based on metrics most relevant to your sport-specific S&C training application.
                     We work with coaches to understand how to best apply our tools for their needs. By coaches for coaches.</p>

            </div>
        </div>
    </div>
</section>
<!-- 
<section class="video-section">
    <div class="container">
        <h2>See Us in Action</h2>
        <div class="video-container">
            <iframe 
                width="560" 
                height="315" 
                src="https://www.youtube.com/embed/xvFZjo5PgG0?si=kMy1ik8ctPZxsrol" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
            </iframe>
        </div>
    </div>
</section> -->
<section class="hero">
    <div class="container">
        <img src="/images/orig_weightlifter_upd.jpg" alt="Athlete performing snatch with markerless pose overlaid on top." style="width: 100%; height: auto; object-fit: cover;border-radius: 4px;">
    </div>
</section>
{{ end }}

